{% extends "base.html" %}

{% load static %}
{% load humanize %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/master.css' %}" >
{% endblock css %}

{% block content %}

<div class="bg-dark" id=bgimg>
  <img class="img-fluid" src="{{ topic.pics.url }}" alt="">
</div>

<div class="container p-5 mb-5" id="article">
<h1> {{ topic.title }} </h1>
<small>date modified: {{ topic.date_added|naturaltime }}</small>
<br>
<p> {{ topic.get_message_as_markdown }} </p>
<span class="text-left">Author:  @{{ topic.author.username }}</span>
</div>
<a class="nav-item title_link" href="#article">
  <span class="fa-stack fa-lg">
      <i class="fa fa-arrow-circle-up fa-stack-2x"></i>
  </span>
</a>

{% endblock content %}

{% block footer %}

{% endblock footer %}