{% extends "base.html" %}


{% block content %}
<div class="row justify-content-center m-3">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card bg-dark">
          <div class="card-body">
            <h3 class="card-title center">Deleteion Confirmation</h3>
             <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-block">confirm</button>
              <a href="{% url 'site:topic_list' %}"><button type="button" class="btn btn-primary btn-block">Cancel</button><a>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}