{% extends "base.html" %}

{% block Topic-active %}
    class="nav-item active"
{% endblock Topic-active %}

{% block css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock css %}

{% block content %}
  <div class="row justify-content-center m-3">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card border-success" style="background-color: black;">
          <div class="card-body">
            <h3 class="card-title center">Edit</h3>
              <form method="post" class="mb-4" novalidate enctype="multipart/form-data">
                <h1>Name : {{ topic.title }}</h1>
                {% csrf_token %}
                {% include 'include/forms.html' %}
                <div class="bg-dark">
                <div class="accordion" id="accordionExample">
                    <div class="card bg-dark m-3">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Previous Content
                          </button>
                        </h5>
                      </div>
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            {{ topic.content }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-success">Save changes</button>
                <a href="{% url 'site:topic_list' %}" class="btn btn-outline-danger" role="button">Cancel</a>
              </form>
          </div>
        </div>
      </div>
    </div>
    
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
      var simplemde = new SimpleMDE();
    </script>
  {% endblock js %}