{% extends "base.html" %}

{% block Qlist-active %}
    class="nav-item active"
{% endblock Qlist-active %}

{% block content %}


 <div class="row justify-content-center m-3">
      <div class="col-lg-10 col-md-12">
        <div class="card border-success" style="background-color: black;">
          <div class="card-body bg-dark">
          {% if question %}
          {% for question in questions %}
              <ul class="list-group bg-dark">
                <li class="list-group-item bg-dark">
                  <ul class="list-group bg-dark">
                  <li class="list-group-item bg-dark">
                  <p>Q: {{ question.question }}</P>
                  <a href="{% url 'site:reply' question.pk %}"><button type="button" class="btn btn-primary">Reply</button></a>
                  </li>
                  </ul>
                </li>
              </ul>
          {% endfor %}
          {% else %}
          <h1>No question availeble</h1>
          {% endif %}
          </div>
        </div>
      </div>
    </div>


{% endblock content %}

