{% extends "base.html" %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock css %}

{% block Qlist-active %}
    class="nav-item active"
{% endblock Qlist-active %}

{% block content %}
<div class="row justify-content-center m-3">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card border-success" style="background-color:black;">
          <div class="card-body">
            <h3 class="card-title center"></h3>
             <form method="post">
                <h2>Q: {{ question.question }}</h2>
                {% csrf_token %}
                {% include 'include/forms.html' %}
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{% url 'site:ques_list' %}"><button type="button" class="btn btn-primary">Cancel</button></a>
            </form>
          </div>
        </div>
      </div>
    </div> 

{% endblock content %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
      var simplemde = new SimpleMDE();
    </script>
  {% endblock js %}