{% extends "base.html" %}

{% load humanize %}
{% load static %}
{% load staticfiles %}

{% block Topic-active %}
    class="nav-item active"
{% endblock Topic-active %}>

{% block content %}

{% if user.is_authenticated %}
  <div class="container">
    <div class="d-flex">
      <div class="col-md text-center">
        <div class="row text-center">
        {% for topic in topics %}
            <div class="card m-3 text-center" style="width: 18rem;">
              <a class="text-success" href="{% url 'site:display_article' topic.pk %}">
              <div class="card-img-top img-thumbnail rounded text-center articleimage">
              <img class="text-center img-fluid" src="{{ topic.pics.url }}" alt="Image Not Found">
              </div></a>
              <div class="card-body">
               <a class="text-success" href="{% url 'site:display_article' topic.pk %}">
                <h5 class="card-title text-center">{{ topic.title }}</h5></a>
                <br><small>{{ topic.date_added|naturaltime }}</small>
                <br>
                <div><p class="card-text text-center">{{ topic }}</p></div>
                <br>
                <div><p class="card-text text-center">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                </span>
                {{ topic.author }}</p></div>
                <p class="card-text">
                  {% if user == topic.author %}
                    <a href="{% url 'site:edit' topic.pk %}"><button type="button"  class="btn btn-primary">Edit</button></a>
                    <a href="{% url 'site:delete' topic.pk %}"><button type="button"  class="btn btn-primary">Delete</button></a>
                  {% endif %}
                </p>
              </div>
            </div>
        {% endfor %}    
        </div>
      </div>
    </div>
    {% include "include/pagination.html" %}
  </div>
{% else %}
  <div class="container">
    <div class="d-flex">
      <div class="col-md text-center">
        <div class="row text-center">
        {% for topic in topics %}
            <div class="card m-3 text-center" style="width: 18rem;">
              <a class="text-success" href="{% url 'site:display_article' topic.pk %}">
              <div class="card-img-top img-thumbnail rounded text-center articleimage">
              <img class="text-center img-fluid" src="{{ topic.pics.url }}" alt="Image Not Found">
              </div></a>
              <div class="card-body">
               <a class="text-success" href="{% url 'site:display_article' topic.pk %}">
                <h5 class="card-title text-center">{{ topic.title }}</h5></a>
                <small>{{ topic.date_added|naturaltime }}</small>
                <br>
                <div><p class="card-text text-center">{{ topic }}</p></div>
                <br>
                <div><p class="card-text text-center">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                </span>
                {{ topic.author }}</p></div>
                </p>
              </div>
            </div>
          </a>
        {% endfor %}    
        </div>
      </div>
    </div>
    {% include "include/pagination.html" %}
  </div>
{% endif %}
    

  

{% endblock content %}