{% extends "base.html" %}

{% load static %}
{% load staticfiles %}



{% block content %}

<div class="container mt-3">
<div class="dropdown-divider border-success"></div>
<div class="row my-3">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item text-truncate btn-outline-info list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home" title="Single Verification">Single Verification</a>
      <a class="list-group-item text-truncate btn-outline-info list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile" title="List Verification">List Verification</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            <h3>Steps To verify an email address</h3>
            <ul>
                <li>
                    To verify an email adress first go to the link named Single Email Verification or <a href="{% url 'verify:single' %}">click here.</a>
                </li>
                <li>
                    Enter the email address you want to verify in the field and press submit.
                </li>
                <li>
                    The results will be displayed just bellow the submit button.
                </li>
            </ul>
        </div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
            <h3>Steps To verify more than one email addresses</h3>
            <ul>
                <li>
                    To verify more than one email adress in one go. First go to the link named List Upload or <a href="{% url 'verify:list' %}">click here.</a>
                </li>
                <li>
                    Enter your email address so that we contact you when the your emails have verified.
                </li>
                <li>
                    Upload a csv file containing the list of your email address you want to verify.<br/>
                    your list will look something like this:
                    <img style="float-right" src="{% static 'icon/list.png' %}">
                </li>
                <li>
                    Press the Submit button.
                </li>
                <li>
                    An email address will be sent to you for a csv file which contains the list of verified email.
                    <br/>
                    Note: This list will be deleted withing 24 hours from the time when you recieve your email.
                </li>
            </ul>
        </div>
    </div>
  </div>

</div>
<div class="dropdown-divider border-success"></div>
</div>

{% endblock content %}
