{% extends "base.html" %}

{% load static %}
{% load staticfiles %}

{% block css %}
  <link href="{% static 'css/accounts.css' %}" rel="stylesheet">
{% endblock css %}

{% block List-active %}
    class="nav-item active"
{% endblock List-active %}

{% block content %}

{% if messages %}

{% for message in messages %}
    <div class="row justify-content-center m-3">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card bg-dark">
          <div class="card-body">
            <h3 class="card-title">Email Verification</h3>
              <div class="alert alert-info" role="alert">{{ message|safe }}</div>
             <form method="post" enctype="multipart/form-data">
                <img src="{% static 'icon/csv.png' %}" style="width: 100px; height: 130px;" class="rounded mx-auto d-block">
                {% csrf_token %}
                {% include 'include/forms.html' %}
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
{% else %}
<div class="row justify-content-center m-3">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card bg-dark">
          <div class="card-body">
            <h3 class="card-title center">Email Verification</h3>
             <form method="post" enctype="multipart/form-data">
                <img src="{% static 'icon/csv.png' %}" style="width: 100px; height: 130px;" class="rounded mx-auto d-block">
                {% csrf_token %}
                {% include 'include/forms.html' %}
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock content %}
