{% extends "base.html" %}

{% load static %}
{% load staticfiles %}

{% block title %}
  Single Email Verification
{% endblock title %}

{% block top_dropdown %}  
  <div class="m-stack__item m-stack__item--middle m-brand__tools">
    <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-left m-dropdown--align-push" m-dropdown-toggle="click" aria-expanded="true">
      <a href="" class="dropdown-toggle m-dropdown__toggle btn btn-outline-metal m-btn  m-btn--icon m-btn--pill">
        <span>Single Email Verification</span>
      </a>
      <div class="m-dropdown__wrapper">
        <span class="m-dropdown__arrow m-dropdown__arrow--left m-dropdown__arrow--adjust"></span>
        <div class="m-dropdown__inner">
          <div class="m-dropdown__body">
            <div class="m-dropdown__content">
              <ul class="m-nav">
                <li class="m-nav__section m-nav__section--first m--hide">
                  <span class="m-nav__section-text">Quick Menu</span>
                </li>
                    <li class="m-nav__item">
                        <a href="{% url 'verify:list' %}" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                            <span class="m-nav__link-text">List Upload</span>
                        </a>
                    </li>  
                    <li class="m-nav__item">
                        <a href="{% url 'home' %}" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-share"></i>
                            <span class="m-nav__link-text">Dashboard</span>
                        </a>
                    </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
	</div>
{% endblock top_dropdown %}

{% block navbar %}
<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
  <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
    <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light ">
      <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
        <li class="m-menu__item" aria-haspopup="true">
            <a href="{% url 'home' %}" class="m-menu__link ">
                <span class="m-menu__item-here"></span>
                <span class="m-menu__link-text">Dashboard</span>
            </a>
        </li>

        <li class="m-menu__item m-menu__item--active" m-menu-submenu-toggle="click" aria-haspopup="true">
            <a href="{% url 'verify:single' %}" class="m-menu__link" title="To verify a single email address">
                <span class="m-menu__item-here"></span>
                <span class="m-menu__link-text">Single Email Verification</span>
            </a>
        </li>
            
        <li class="m-menu__item" m-menu-submenu-toggle="click" aria-haspopup="true">
              <a href="{% url 'verify:list' %}" class="m-menu__link" title="To verify a list of email addresses">
                  <span class="m-menu__item-here"></span>
                  <span class="m-menu__link-text">List Upload</span>
              </a>
        </li>                                        
      </ul>
    </div>
</div>
{% endblock navbar %}


{% block content_header %}
Email Verification
{% endblock content_header %}

{% block content %}

{% if messages %}

{% for message in messages %}
    <div class="row justify-content-center m-3">
          <div class="card-body">
            <div class="alert alert-info" role="alert">{{ message|safe }}</div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'include/forms.html' %}
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
    </div>
    {% endfor %}
{% else %}
<div class="row justify-content-center">
          <div class="card-body">
             <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'include/forms.html' %}
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
      </div>
    </div>
{% if data %}
        <div class="row justify-content-center">
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <h2 class="text-center">Results for {{ email }}</h2>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="text-center" scope="row">Username</th>
                <td class="text-center" >{{ data.0 }}</td>
              </tr>
              <tr>
                <th class="text-center"  scope="row">Domain</th>
                <td class="text-center" >{{ data.1 }}</td>
              </tr>
              <tr>
                <th class="text-center"  scope="row">Code</th>
                <td class="text-center" >{{ data.2 }}</td>
              </tr>
              <tr>
                <th class="text-center"  scope="row">Status</th>
                <td class="text-center" >{{ data.3 }}</td>
              </tr>
              <tr>
                <th class="text-center"  scope="row">Message</th>
                <td class="text-center" >{{ data.4 }}</td>
              </tr>
              <tr>
                <th class="text-center"  scope="row">Verified</th>
                <td class="text-center" >{{ data.5 }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>
{% endif %}

{% endif %}

{% endblock content %}

